.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-wrap{
  --primary-color: #ec5990;
  padding: 24px;
  background-color: var(--primary-color);
  border-radius: 10px;
  width: 400px;
}

input{
  width: 100%;
  display: block;
  border: none;
  outline: none;
  padding: 16px;
  margin-bottom: 16px;
}
